
<?xml version="1.0"?>

<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="DynamicRewrite" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
